<!DOCTYPE html>
<html>
  <head>
    <title>Virtuaxis: VR and AR products for sale, headsets, remotes, rudder and more.</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> "reload" %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

  </head>

  <body data-spy="scroll" data-target="navbar">
  
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- brand and toggle-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
          <span id="form" class="hidden-xs">
            <%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "") %>
              <%= text_field_tag(:q, nil, class: "search") %>
              <%= submit_tag("Search", class: "btn_actions") %>
            <% end %>
          </span> 
        <!--nav links, content for toggling-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %><span class="sr-only"></span></li>
            <!-- <li><%#= link_to "About", static_pages_about_path %></li> -->
            <li><%= link_to "Support", static_pages_contact_path %></li>
            <li><%= link_to "Featured", static_pages_featured_path %></li>
            <li><%= link_to "Shopping", products_path %></li>
            <li><%= link_to "Order", orders_path %></li>
         		<li>
	          	<% if user_signed_in? %>
	          		<%= link_to("Logout", destroy_user_session_path, :method => :delete) %> 
	          	<% else %>
	          		<%= link_to("Login", new_user_session_path) %>
	          	<% end %>
          	</li> 
          </ul>
        </div>   <!--end container-->
      </div>
  	</nav>

  	<% if alert %>
  		<p class="alert fade in alert-dismissible" role="alert"><%= alert %></p>
  	<% end %>

    <% if notice %>
      <p class="alert fade in alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <%= notice %>
      </button>
      </p>
    <% end %>

    <div class="yield">
      <%= yield %>
    </div>

    <footer>

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-7 col-sm-4">

            <ul id="links">
              <li><%= link_to "About Virtuaxis", static_pages_about_path %></li>
              <li><%= link_to "Support", static_pages_contact_path %></li>
              <li><%= link_to "Featured", static_pages_featured_path %></li>
              <li><a href="#">Account</a></li>
              <li><%= link_to "Shopping", products_path %></li>
            </ul>
          </div>
          <div class="col-xs-5 col-sm-4">
            <div class="dropdown dropup">
              <a data-target="#" href="page.html" data-toggle="dropdown" class="dropdown-toggle">CAD <span class="glyphicon glyphicon-menu-up"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">EUR</a></li>
                <li><a href="#">AUD</a></li>
                <li><a href="#">JPY</a></li>
                <li><a href="#">GBP</a></li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">HKD</a></li>
                <li><a href="#">BRL</a></li>
              </ul>   
            </div>
          </div>
          <div class="col-xs-5 col-sm-4">
            <div class="social">
              &nbsp;Follow us<br>
              <a href="twitter"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="facebook"><i class="fa fa-facebook fa-2x"></i></a>
            </div>
          </div>
        </div> <!--  row -->
      </div> <!-- container fluid -->

      <div class="copy">
        <hr>
        &copy; 2007 - 2017 Virtuaxis inc. All Rights Reserved | Design by Caroline Lachance
      </div>

    </footer>

  </body>
</html>
