
<p id="notice"><%= notice %></p>


<div class="text">
</div>
<div class="container" id="parent-container">
	<div class="product">

		<div class="title">
			<strong><%= @product.name %></strong>
			<span class="rated" data-score="<%= @product.average_rating %>"></span>
		</div>

		<div class="price">
			<strong><%= @product.price %>&#36;</strong>
		</div>

		<div class="image">
			<center><%= image_tag(@product.image_url, class: "img-responsive") %></center>
		</div>

		<div class="description">
			<p>
			<strong>Description: </strong>
			<%= @product.description %>
			</p>
		</div>

		<div class="new_comment">
			
			<%= render partial: "new_comment" %>

		</div>

		<div class="container">
			<div class="row">

	  		<%= render partial: "comments" %>
					
			</div>
		</div>
	</div>

	<div class="edit">
		<button><%= link_to 'Edit', edit_product_path(@product) %></button>
		<button><%= link_to 'Back', products_path %></button>
	</div>

	<span class="pagination"><%= will_paginate @comments %></span>
</div>
