<div class="forgot_background">
	<div class="text">
		<h1>Forgot your password?</h1>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>
		<p>Enter your email adress below and we will send you instructions to reset your password. Thank you!</p>
	</div>

	<div class="sign_up">
		<div class="field">
		  <%= f.label :email, class: "my_label" %><br />
		  <%= f.email_field :email, autofocus: true, class: "my_fields" %>    
		</div>

		<div class="actions">
			<%= f.submit "Send me reset password instructions", class: "btn_actions" %>
			<% end %>
		</div>

		<br>
		<div class="sign_in">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>
  
