
<div class="text">
	<h1>Contact us!</h1>
	<p>If you want to know more about our products or if you have any questions, use one of these methods to contact us directly.</p>
</div>

<%= flash[:notice] %>

<%= form_tag("/static_pages/received") do %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-3"></div>
			<div class="col-sm-8 col-md-6">
				<%= text_field_tag("first_name", nil, placeholder: "Name", class: "form", id: "first_name") %>
				<%= text_field_tag("last_name", nil, placeholder: "Last name", class: "form", id: "last_name", size: 21) %>
				<%= email_field_tag("email", nil, placeholder: "Enter your email address", class: "form", id: "email", size: 43) %>
				<%= text_area_tag("question", nil, rows: 11, cols: 70, class: "form", id: "question", placeholder: "How can we help?") %>
				<%= submit_tag("Send", class: "btn_actions", id: "submit_tag") %>
			</div>
			<div class="col-sm-2 col-md-3"></div>
		</div>
	</div>
<% end %>